alembic==1.7.6
Babel==2.9.1
eventlet==0.33.0
Flask==2.0.3
Flask-Admin==1.6.0
Flask-Babel==2.0.0
Flask-Compress==1.11
Flask-DebugToolbar==0.13.1
Flask-Gravatar==0.5.0
Flask-Login==0.5.0
Flask-Migrate==3.1.0
Flask-Paranoid==0.2.0
Flask-Principal==0.4.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.0.0
greenlet==1.1.2
httpagentparser==1.9.2
idna==2.10
Jinja2==3.0.3
ldap3==2.9.1
multidict==6.0.4
packaging==21.3
pgadmin4==6.6
pip-chill==1.0.1
psycopg2-binary==2.9.3
py==1.11.0
PyJWT==2.4.0
PyNaCl==1.5.0
pyotp==2.6.0
pyparsing==3.0.9
python-engineio==4.3.1
python-socketio==5.5.2
requests==2.25.1
sentry-sdk==1.5.12
simplejson==3.17.6
SQLAlchemy==1.4.32
sqlparse==0.4.2
Werkzeug==2.0.3
WTForms==3.0.1
