{% extends 'base.html' %}

{% block content %}
<h2 class="main-title">Dashboardga hush kelibsiz</h2>
<div class="row stat-cards">
    <div class="col-md-6 col-xl-3">
        <article class="stat-cards-item">
            <div class="stat-cards-icon primary">
                <i data-feather="bar-chart-2" aria-hidden="true"></i>
            </div>
            <div class="stat-cards-info">
                <p class="stat-cards-info__num">{{ pending }}</p>
                <p class="stat-cards-info__title">Yangi murojatlar</p>
                <p class="stat-cards-info__completed">
                    
                </p>
            </div>
        </article>
    </div>
    <div class="col-md-6 col-xl-3">
        <article class="stat-cards-item">
            <div class="stat-cards-icon warning">
                <i data-feather="file" aria-hidden="true"></i>
            </div>
            <div class="stat-cards-info">
                <p class="stat-cards-info__num">{{ completed }}</p>
                <p class="stat-cards-info__title">Ko'rib chiqilmoqda</p>
                <p class="stat-cards-info__completed">
                    
                </p>
            </div>
        </article>
    </div>
    <div class="col-md-6 col-xl-3">
        <article class="stat-cards-item">
            <div class="stat-cards-icon purple">
                <i data-feather="file" aria-hidden="true"></i>
            </div>
            <div class="stat-cards-info">
                <p class="stat-cards-info__num">{{ completed }}</p>
                <p class="stat-cards-info__title">Ko'rib chiqilganlar</p>
                <p class="stat-cards-info__completed">
                    
                </p>
            </div>
        </article>
    </div>
    <div class="col-md-6 col-xl-3">
        <article class="stat-cards-item">
            <div class="stat-cards-icon success">
                <i data-feather="feather" aria-hidden="true"></i>
            </div>
            <div class="stat-cards-info">
                <p class="stat-cards-info__num">{{ all_users }}</p>
                <p class="stat-cards-info__title">Umumiy foydalanuvchilar</p>
                <p class="stat-cards-info__completed">
                    
                </p>
            </div>
        </article>
    </div>
</div>


{% endblock %}