{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-6"><h2 class="main-title">Yangi murojatlar</h2></div>
    <div class="col-6"><select class="form-select select-right" aria-label="Default select example">
        {% set count = namespace(value=0) %}
        {% for x in all_categories %}
        <option  {% if count == 0 %}selected  value = {{count}}
        {% else %}
        value = {{x[0]}}
        {% endif %}>
            {% if count == 0 %}
                Barcha kategoriyalar
            {% else %}
            {{ x[1] }}
            {% endif %}

        </option>
        {% endfor %}
        
      </select></div>
</div>



  
    <div class="users-table table-wrapper">
      <table class="posts-table">
        <thead>
          <tr class="users-table-info">
            <th>
              <label class="users-table__checkbox ms-20">
                <input type="checkbox" class="check-all">Id
              </label>
            </th>
            <th>Kategoriya nomi</th>
            <th>Kategoriya tavsifi</th>
            <th>Mahsulotlar soni</th>
            <th>Bajarish</th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %}
          {% for item in items %}
          <tr>
            <td>
              <label class="users-table__checkbox">
                 
                {{ count.value }}
                {% set count.value = count.value + 1 %}
              </label>
            </td>
            <td>
              {{ item.name }}
            </td>
            <td class="description" style="max-width:300px;">
              {{ item.description }}
            </td>
            <td>
              {{ item.medicine_count }}
            </td>
            
            <td>
              <span class="p-relative">
                <button class="dropdown-btn transparent-btn" type="button" title="More info">
                  <div class="sr-only">More info</div>
                  <i data-feather="more-horizontal" aria-hidden="true"></i>
                </button>
                <ul class="users-item-dropdown dropdown">
                  <li><a class="a-edit" data-id="{{ item.id }}">Tahrirlash</a></li>
                  <li><a class="a-delete" data-id="{{ item.id }}">O'chirish</a></li>
                  
                </ul>
              </span>
            </td>
          </tr>
          
          {% endfor %}
          
        </tbody>
      </table>
    </div>
    
  

{% endblock %}






