{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-12"><h2 class="main-title">Kutilayotgan murojatlar</h2></div>
    
    <div class="col-12">
    <div class="users-table table-wrapper">
      <table class="posts-table">
        <thead>
          <tr class="users-table-info">
            <th>
              <label class="users-table__checkbox ms-20">
                Id
              </label>
            </th>
            <th>Murojat</th>
              <th>Status</th>
              <th>Javob</th>
              <th>Murojatchi viloyati/shaxri</th>
              <th>Murojatchi tumani</th>
              <th>Murojatchi FIO</th>
              <th>Murojatchi telefon raqami</th>
          </tr>
        </thead>
        <tbody>
          {% set count = namespace(value=1) %}
          {% for item in progress.items %}
          <tr>
            <td>
              <label class="users-table__checkbox">
                 
                {{ item.id }}
              </label>
            </td>
            <td>
              {{ item.application }}
            </td>
            <td>
              {{ item.status }}
            </td>
            <td class="description" style="max-width:300px;">
              {{ item.answer }}
            </td>
            <td>
                {{ item.category.name_uz }}
            </td>
            <td>
              tuman
          </td>
            <td>
              {{ item.users.fio }}
            </td>
            <td>
              {{ item.users.phone }}
            </td>
            <td>
              <span class="p-relative">
                <button class="dropdown-btn transparent-btn" type="button" title="More info">
                  <div class="sr-only">More info</div>
                  <i data-feather="more-horizontal" aria-hidden="true"></i>
                </button>
                <ul class="users-item-dropdown dropdown">
                  <li><a class="a-edit" href='{{ url_for("home.send_answer", application_id = item.id) }}'>Javob yozish</a></li>
                  
                  
                </ul>
              </span>
            </td>
          </tr>
          
          {% endfor %}
          
        </tbody>
      </table>
    </div>
  </div>
    
    
    <div class="pagination:container">
      {% if progress.has_prev %}
      <a href="{{ url_for('home.progress_page', category_id = category_id, page = progress.prev_num ) }}" class="pagination:number arrow ">
        <svg width="18" height="18">
          <use xlink:href="#left" />
        </svg>
        <span class="arrow:text" value = >Previous</span>
       </a>
      {% endif %}

      {% for page_num in progress.iter_pages(left_edge=1, right_edge=2, left_current=1, right_current=2) %}
      {% if page_num %}

      {% if progress.page == page_num %}
      <a class="pagination:number pagination:active">
        {{ page_num }}
      </a>
      {% else %}
      <a href = "{{url_for('home.progress_page', category_id=category_id, page=page_num)}}" class="pagination:number">
        {{ page_num }}
      </a>
      {% endif %}
      {% else %}
            ...
      {% endif %}
      {% endfor %}
      {% if progress.has_next %}
             <a href="{{url_for('home.progress_page', category_id=category_id, page=progress.next_num)}}" class="pagination:number arrow ">
               <span class="arrow:text" value = >Next</span>
              <svg width="18" height="18">
                <use xlink:href="#right" />
              </svg>
             </a>
             
      
      {% endif %}
      
    </div>
    
    <svg class="hide">
      <symbol id="left" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></symbol>
      <symbol id="right" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></symbol>
    </svg>

{% endblock %}






